@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --fgPrimary: #8F9195;
  --background: #F5F6F9;
  --cardBg: #ffffff; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

/* body {
  color: rgb(var(--fgPrimary));
  background-color: var(--background);
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}